- name: Install nginx
  yum:
    name: nginx
    state: present

- name: Deploy nginx config
  template:
    src: hello.conf.j2
    dest: /etc/nginx/conf.d/hello.conf
  notify: reload nginx

- name: Ensure nginx is running
  service:
    name: nginx
    state: started
    enabled: true
